<?xml version="1.0" ?>
<robot name="mecanum_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!--<xacro:include filename="$(find sentry_gazebo)/urdf/sc.plugins.xacro" />-->
    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="red">
        <color rgba="0.8 0.0 0.0 1.0"/>
    </material>

    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </xacro:macro>


    <xacro:macro name="mecanum_base">
        <link name="base_footprint"/>
        <link name="base_link">
            <inertial>
                <mass value="10.69655"/>
                <origin rpy="0 0 0 " xyz="0 0 0"/>
                <inertia ixx="1.387114121" ixy="0" ixz="0" iyy="1.566123162" iyz="0" izz="0.343148801"/>
            </inertial>

            <collision>
                <!--<pose>0 0 0 0 0 1.57</pose>>-->
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <visual>
                <!--<pose>0 0 0 0 0 1.57</pose>>-->
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="base_link">
                    <color rgba="0.0 0.0 0.8 1" />
                </material>
            </visual>
        </link>

        <joint name="base_joint" type="fixed">
            <origin xyz="0 0 -0.0288" rpy="0 0 0" />
            <parent link="base_link"/>
            <child link="base_footprint" />
        </joint>

        <joint name="join_left_front" type="fixed">
            <!--<origin xyz="0.6 0 0.8" rpy="0 0 0"/>-->
            <origin xyz="0.1825 0.195 0.049" rpy="0 0 1.57"/>
            <parent link="base_link"/>
            <child link="link_left_front"/>
            <axis xyz="1 0 0" />
            <limit effort="30" velocity="17.4" />
        </joint>

        <link name="link_left_front">
            <pose>0 0 0 0 0 0</pose>
            <inertial>
                <mass value="0.59"/>
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <inertia ixx="0.002525266" ixy="0" ixz="0" iyy="0.001311197" iyz="0" izz="0.001311136"/>
            </inertial>

            <collision>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_right_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_right_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="wheels">
                    <color rgba="0.6 0.6 0.6 1" />
                </material>
            </visual>
        </link>

        <joint name="join_right_front" type="fixed">
            <!--<origin xyz="0.6 0 0.8" rpy="0 0 0"/>-->
            <origin xyz="0.1825 -0.195 0.049" rpy="0 0 1.57"/>
            <parent link="base_link"/>
            <child link="link_right_front"/>
            <axis xyz="1 0 0" />
            <limit effort="30" velocity="17.4" />
        </joint>

        <link name="link_right_front">
            <pose>0 0 0 0 0 0</pose>
            <inertial>
                <mass value="0.59"/>
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <inertia ixx="0.002525266" ixy="0" ixz="0" iyy="0.001311197" iyz="0" izz="0.001311136"/>
            </inertial>

            <collision>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_left_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_left_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="wheels">
                    <color rgba="0.6 0.6 0.6 1" />
                </material>
            </visual>
        </link>

        <joint name="join_left_back" type="fixed">
            <!--<origin xyz="0.6 0 0.8" rpy="0 0 0"/>-->
            <origin xyz="-0.1825 0.195 0.049" rpy="0 0 1.57"/>
            <parent link="base_link"/>
            <child link="link_left_back"/>
            <axis xyz="1 0 0" />
            <limit effort="30" velocity="17.4" />
        </joint>

        <link name="link_left_back">
            <pose>0 0 0 0 0 0</pose>

            <inertial>
                <mass value="0.59"/>
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <inertia ixx="0.002525266" ixy="0" ixz="0" iyy="0.001311197" iyz="0" izz="0.001311136"/>
            </inertial>


            <collision>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_left_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_left_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="wheels">
                    <color rgba="0.6 0.6 0.6 1" />
                </material>
            </visual>
        </link>

        <joint name="join_right_back" type="fixed">
            <!--<origin xyz="0.6 0 0.8" rpy="0 0 0"/>-->
            <origin xyz="-0.1825 -0.195 0.049" rpy="0 0 1.57"/>
            <parent link="base_link"/>
            <child link="link_right_back"/>
            <axis xyz="1 0 0" />
            <limit effort="30" velocity="17.4" />
        </joint>

        <link name="link_right_back">
            <pose>0 0 0 0 0 0</pose>

            <inertial>
                <mass value="0.59"/>
                <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <inertia ixx="0.002525266" ixy="0" ixz="0" iyy="0.001311197" iyz="0" izz="0.001311136"/>
            </inertial>


            <collision>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_right_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 -0.07625" rpy="0 0 -1.57"/>
                <geometry>
                    <mesh filename="package://sentry_gazebo/meshes/mecanum_right_hands.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="wheels">
                    <color rgba="0.6 0.6 0.6 1" />
                </material>
            </visual>
        </link>
        
        <link name="imu">
            <visual>
                <geometry>
                    <box size="0.01 0.01 0.005"/>
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0" />
                </material>
            </visual>
            <collision>
                <geometry>
                    <box size="0.01 0.01 0.005"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            </collision>
            <inertial>
                <origin xyz="0 0 0" />
                <mass value="0.05" />
                <inertia ixx="6.64E-04" ixy="0" ixz="0" iyy="6.64E-04" iyz="0" izz="1.02E-03" />
            </inertial>
        </link>

        <joint name="imu_joint" type="fixed">
            <parent link="base_link" />
            <child link="imu" />
            <origin xyz="0 0 0.22" />
            <axis xyz="0 0 1" />
        </joint>

    </xacro:macro>
<!-- modified here -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="5" samples="350" min_range="0.5" organize_cloud="true" >
      <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:VLP-16> 

  <xacro:include filename="$(find sentry_gazebo)/urdf/camera.urdf.xacro"/>
  <!-- <xacro:camera parent="base_link">
      <origin xyz="0.1 0 0" rpy="0 0 0" />
  </xacro:camera>  -->


<!-- modified here -->
</robot>